.navigatorContainer {
  position: fixed;
  z-index: 800;
  width: 100vw;
  height: 60px;
  padding: 0 24px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid black;
  opacity: 0;
}

.navigatorContainer ul {
  height: 100%;
  display: flex;
  align-items: stretch;
}

.navigatorContainer ul li {
  position: relative;
  display: flex;
  align-items: center;
  color: black;
  /* transition: 0.3s; */
}

.navigatorContainer ul li a {
  letter-spacing: 0.02em;
  padding: 16px 20px;
}

.navigatorContainer a {
  color: #ffffff;
  text-shadow: 0px 2px 5px rgba(87, 124, 147, 0.3);
  font-family: "SansBold";
  white-space: nowrap;
  font-weight: 500;
}
.header ul,
ol,
li {
  list-style: none;
}
